body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #56854d;   
}

header {
    background-color: #6ca361;   
    color: rgb(242, 243, 242);
    padding: 19px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;       
    gap: 20px;           
    justify-content: center; 
}

nav ul li {
    display: list-item;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
